# NEW YORK TIMES COVID DASHBOARD PIPELINE

Below notebook contains the code and steps taken to retrieve Covid 19 from NYT Github. The data will then be stored in Google pages which will feed into a Tableau dashboard - it will be updated daily.

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
url_counties = 'https://github.com/nytimes/covid-19-data/blob/master/live/us-counties.csv?raw=true'
df_counties = pd.read_csv(url_counties)
print(df_counties.head(5))

         date   county    state    fips  cases  deaths  confirmed_cases  \
0  2021-02-11  Autauga  Alabama  1001.0   5970    81.0           5164.0
1  2021-02-11  Baldwin  Alabama  1003.0  18960   240.0          13457.0
2  2021-02-11  Barbour  Alabama  1005.0   2030    46.0           1139.0
3  2021-02-11     Bibb  Alabama  1007.0   2377    54.0           1938.0
4  2021-02-11   Blount  Alabama  1009.0   5955   116.0           4566.0

   confirmed_deaths  probable_cases  probable_deaths
0              71.0           806.0             10.0
1             181.0          5503.0             59.0
2              30.0           891.0             16.0
3              31.0           439.0             23.0
4              99.0          1389.0             17.0

In [20]:
df_counties.head()

,date,county,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2021-02-11,Autauga,Alabama,1001.0,5970,81.0,5164.0,71.0,806.0,10.0
1,2021-02-11,Baldwin,Alabama,1003.0,18960,240.0,13457.0,181.0,5503.0,59.0
2,2021-02-11,Barbour,Alabama,1005.0,2030,46.0,1139.0,30.0,891.0,16.0
3,2021-02-11,Bibb,Alabama,1007.0,2377,54.0,1938.0,31.0,439.0,23.0
4,2021-02-11,Blount,Alabama,1009.0,5955,116.0,4566.0,99.0,1389.0,17.0

In [22]:
url_USA = 'https://github.com/nytimes/covid-19-data/blob/master/live/us.csv?raw=true'
df_USA = pd.read_csv(url_USA)

In [25]:
df_USA.head()

,date,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2021-02-11,27427658,474975,NaN,NaN,NaN,NaN

         date     cases  deaths  confirmed_cases  confirmed_deaths  \
0  2021-02-11  27427658  474975              NaN               NaN

   probable_cases  probable_deaths
0             NaN              NaN

In [6]:
df_USA = df_USA.rename(columns={'cases':'total_cases','deaths': 'total_deaths'})

In [7]:
df_USA.head()

,date,total_cases,total_deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,2021-02-11,27427658,474975,NaN,NaN,NaN,NaN

In [8]:
df_USA = df_USA.drop(columns=['confirmed_cases', 'confirmed_deaths','probable_cases','probable_deaths'])

In [9]:
df_USA.head()

         date  total_cases  total_deaths
0  2021-02-11     27427658        474975

In [10]:
df_states.head(

NameError: name 'df_states' is not defined

In [11]:
df_states = df_states.rename(columns={'cases':'state_total_cases','deaths': 'state_total_deaths'})

NameError: name 'df_states' is not defined

In [12]:
df_states.head(5)

NameError: name 'df_states' is not defined

In [13]:
df_states.head(5)

NameError: name 'df_states' is not defined

In [14]:
#merged_df = left_df.merge(right_df, how='inner', left_on=["A", "B"], right_on=["A2","B2"])

merged_data = df_states.merge(df_counties, how = 'inner',left_on=["date", "state"], right_on=["date","state"])

NameError: name 'df_states' is not defined

In [15]:
merged_data.head()

NameError: name 'merged_data' is not defined

In [16]:
merged_data.count()

NameError: name 'merged_data' is not defined

In [17]:
final_df = pd.concat([merged_data, df_USA], axis=1)

NameError: name 'merged_data' is not defined

In [18]:
final_df.head()

NameError: name 'final_df' is not defined

In [19]:
final_df = final_df

NameError: name 'final_df' is not defined